@charset "UTF-8";

@font-face {
    font-family: njnaruto;
    src: url(../fontes/njnaruto.ttf);
}

@font-face {
    font-family: Bangers;
    src: url(../fontes/Bangers-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fontes/Roboto-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

:root {
    --cor-body:#a89c8c;
    --cor0: #FF6C0D;
    --cor1: #F0461A;
    --cor2: #E50C08;
    --cor3: #1A1DFF;
    --cor4: #FFFFFF;
    --cor5: #000000;

    --fonte-titulo: "NJnaruto", Arial, sans-serif;
    --fonte-subtitulo: "Bangers", Arial, sans-serif;
    --fonte-paragrafo: "Roboto", Arial, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-body);
    margin: 0;
}

/*<!-- Página 1 -->*/

header {
    background-color: var(--cor3);
    box-shadow: 0px 1px 8px var(--cor5);
    height: 150px;
}

header h1 {
    text-align: center;
    padding: 20px;
    font-family: var(--fonte-titulo);
    color: var(--cor4);
    text-shadow: 1px 1px 4px var(--cor5);
}

header h2 {
    text-align: center;
    font-family: var(--fonte-subtitulo);
    color: var(--cor4);
    text-shadow: 1px 1px 5px var(--cor5);
    font-weight: 400;
}

nav {
    background-color: var(--cor3);
    padding: 15px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--cor4);
    font-family: var(--fonte-paragrafo);
    margin: 0px 0px 15px 15px;
    padding: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--cor5);
    transition: 0.4s ease-in-out;
}

nav a:hover {
    background-color: rgba(37, 37, 228, 0.719);
    border-radius: 8px;
    transform: translateY(-4px);
}

.faixa-naruto {
    background-color: var(--cor4);
    height: 30px;
}

main {
    background-color: var(--cor0);
    box-shadow: 0px 1px 5px var(--cor5);
    max-width: 900px;
    margin: auto;
}

.titulo {
    font-family: var(--fonte-titulo);
    text-align: center;
    color: var(--cor2);
    text-shadow: 1px 1px 1px var(--cor5);
    font-weight: 200;
    padding-top: 15px;
    padding-bottom: 10px;
}

main h2 {
    background: linear-gradient(to left, rgba(229, 12, 8, 0), #F0461A, #E50C08);
    padding: 5px 0px 5px 25px;
    font-family: var(--fonte-titulo);
    color: var(--cor5);
    font-weight: 800;
    text-shadow: 1px 1px 2px var(--cor4);
    margin: 10px 0px 20px 0px;
    padding-top: 10px;
}

section#personagens h4 {
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    font-size: large;
    text-shadow: 1px 1px 5px var(--cor4);
    padding: 15px 0px 15px 20px;
}

section#personagens h3 a {
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    text-shadow: 1px 1px 5px var(--cor4);
    padding: 35px;
}

img.time7 {
    display: block;
    margin: auto;
    width: 80%;
    max-height: 30rem;
    border-radius: 3px;
}

img.time7:hover {
    transform: scale(1.02);
    transition: 0.4s ease-in-out;
    box-shadow: 1px 1px 10px var(--cor4);
}

main p {
    text-indent: 1rem;
    font-family: var(--fonte-paragrafo);
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: var(--cor5);
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

main p a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--cor5);
}

main p a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

main p a::before {
    content: "🔗";
}

section#habilidades h3 {
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    text-shadow: 1px 1px 5px var(--cor4);
    padding: 0px 0px 10px 35px
}

section#habilidades h4 {
    text-decoration: none;
    color: var(--cor2);
    font-family: var(--fonte-subtitulo);
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 1px 1px 5px var(--cor4);
    padding: 30px 0px 20px 25px;
}

section#habilidades li {
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    font-size: large;
    color: var(--cor5);
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.562);
    padding: 10px 0px 10px 35px;
}

section#habilidades li a {
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    text-shadow: 1px 1px 5px var(--cor4);
    padding: 10px 0px 10px 35px;
}

li a::before {
    content: "🔗";
}

aside li.lista {
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    font-size: large;
    color: var(--cor5);
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.562);
    padding: 10px 0px 10px 35px;
}

aside li {
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    font-size: large;
    color: var(--cor5);
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.562);
    padding: 10px 0px 15px 50px;
}

aside li a {
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    text-shadow: 1px 1px 5px var(--cor4);
    padding: 10px 0px 10px 35px;
}

aside li a:hover {
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    font-size: large;
    color: var(--cor2);
    text-shadow: 0px 0px 8px var(--cor5);
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

footer {
    background-color: var(--cor5);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

footer p {
    color: var(--cor4);
}

footer a {
    color: var(--cor1);
    text-decoration: none;
    text-shadow: 2px 2px 6px var(--cor1);
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

/*<!-- Página 2 -->*/

section h2.subtitulo-historia {
    background: linear-gradient(to left, rgba(229, 12, 8, 0), #F0461A, #E50C08);
    letter-spacing: 0.3rem;
    text-align: center;
    padding:10px 0px 5px 25px;
    font-family: var(--fonte-titulo);
    color: var(--cor5);
    font-weight: 800;
    text-shadow: 1px 1px 2px var(--cor4);
    margin: 10px 0px 20px 0px;
}

.img-historia {
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.363);
    background-color: var(--cor0);
}

.img-historia:hover {
    transform: scale(1.02);
    transition: 0.4s ease-in-out;
    box-shadow: 1px 1px 10px var(--cor4);
}

.img-ondas {
    background-image: url(../imagens/pais-das-ondas.webp);
    background-position: center bottom;
}

.img-exame {
    background-image: url(../imagens/exame-chunnin.webp);
    background-position: center center;
}

.img-treinamento-jiraiya {
    background-image: url(../imagens/treino-jiraya.webp);
    background-position: center top;
}

.img-tsunade {
    background-image: url(../imagens/tsunade.jpg);
    background-position: center bottom;
}

.img-resgate-sasuke {
    background-image: url(../imagens/resgate-sasuke.jpg);
    background-position: center center;
}

.img-treinamento-jiraiya-shippuden {
    background-image: url(../imagens/naruto-volta.webp);
    background-position: center bottom;
}

.img-resgate-kazekage {
    background-image: url(../imagens/retorno-kazekage.webp);
    background-position: center top;
}

.img-treinamento-rasenshuriken {
    background-image: url(../imagens/naruto-kakashi.jpg);
    background-position: center top;
}

.img-hidan-kakuzu {
    background-image: url(../imagens/hidan-kakuzu.jpg);
    background-position: center top;
}

.img-treinamento-myoboku {
    background-image: url(../imagens/naruto-myoboku.avif);
    background-position: center center;
}

.img-pain {
    background-image: url(../imagens/pain.webp);
    background-position: center center;
}

.img-reuniao {
    background-image: url(../imagens/reuniao-kages.webp);
    background-position: center top;
}

.img-treinamento-killer-bee {
    background-image: url(../imagens/naruto-killer-bee.png);
    background-position: center center;
}

.img-guerra {
    background-image: url(../imagens/guerra-ninja.png);
    background-position: center bottom;
}

.img-batalha-final {
    background-image: url(../imagens/batalha-final.jpg);
    background-position: center center;
}

/*<!-- Página 3 -->*/

.img-rasengan {
    background-image: url(../imagens/rasengan.webp);
    background-position: center center;
}

.img-clone-sombras {
    background-image: url(../imagens/clone-sombras.webp);
    background-position: center top;
}

.img-modo-sabio {
    background-image: url(../imagens/modo-sabio.webp);
    background-position: center bottom;
}

.img-rasenshuriken {
    background-image: url(../imagens/rasenshuriken.jpg);
    background-position: center top;
}

.img-kurama {
    background-image: url(../imagens/modo-kurama.webp);
    background-position: center center;
}

.img-invocacao-sapos {
    background-image: url(../imagens/invocacao-sapos.webp);
    background-position: center top; 
}

.img-controle-chakra {
    background-image: url(../imagens/controle-chakra.webp);
    background-position: center center;
}

.img-taijutsu {
    background-image: url(../imagens/taijutsu.webp);
    background-position: center top;
}

.img-modo-baryon {
    background-image: url(../imagens/modo-baryon.jpg);
    background-position: center top;
}

.img-chakra-kurama {
    background-image: url(../imagens/chakra-kurama.webp);
    background-position: center top;
}

.img-selamento {
    background-image: url(../imagens/selamento.jpg);
    background-position: center center;
}

@media (max-width: 768px) {

    nav a {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    main {
        padding: 10px;
        width: 80vw;
    }

    header h1 {
        font-size: 2rem;
    }

    .img-historia {
        height: 15rem;
    }
     nav a {
        display: block;
        text-align: center;
        margin: 8px 0;
    }

    main {
        padding: 10px;
        width: 100%;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header h2 {
        font-size: 1rem;
    }

    main p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .img-historia {
        height: 15rem;
        margin: 1rem;
    }

    section h2.subtitulo-historia {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        padding: 10px;
    }

    ul {
        padding-left: 0;
    }

    section#habilidades li,
    aside li {
        padding-left: 15px;
        font-size: 1rem;
    }
}
