@charset "UTF-8";

@font-face {
    font-family: njnaruto;
    src: url(../fontes/njnaruto.ttf);
}

@font-face {
    font-family: Bangers;
    src: url(../fontes/Bangers-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fontes/Roboto-Regular.ttf);
}

:root {
    --cor0: #FF6C0D;
    --cor1: #F0461A;
    --cor2: #E50C08;
    --cor3: #1A1DFF;
    --cor4: #FFFFFF;
    --cor5: #000000;

    --fonte-titulo: "NJnaruto", Arial, sans-serif;
    --fonte-subtitulo: "Bangers", Arial, sans-serif;
    --fonte-paragrafo: "Roboto", Arial, sans-serif;
}